@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #303030;
}

body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: #4285f4;
}